
*{
	box-sizing: border-box;
}
/********HEADER*****/ 

header {
	background-image: url("../image/mystery_1920.jpg");
	background-size: cover;
	background-position:center;
    padding:2.5em;
}

.logo h1{
    text-align:center;
    color:white;
    font-size:2.3em;
    margin-bottom:1.5em;
    
}

/*******************NAVBAR***************/

.navbar{
	width: 50%;
	z-index: 999;
	
}

.navbar .nav-links ul {
	display:flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	margin: 0; 
    padding: 0;
    
}

.navbar .nav-links ul li {
	font-size: 1.2em; 
    font-weight: bold; 
}

.navbar .nav-links ul li a{
	color:white;
	font-weight: bold;
}

navbar .nav-links ul li a:hover{
    background-color:#fff;
    padding:10px 20px 5px;
    color:purple;
    border-radius:1.2em;
    transition:1s;
}

.menu-burger .livre-panier{
	display: none;
	width: 30px;
    position: absolute; 
    right: 40px; 
    top: 40px; 
    cursor: pointer;
}


/********* CITATION ******************/

blockquote {
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	margin: 3rem 5rem;
	padding: 2rem 2rem;
}

q, 
cite {
	display: block;
	line-height: 1.5;
}

q {
	font-style: italic;
	margin-bottom: 1rem;
}

cite {
	font-style: italic;
	font-size: 2rem;
}
