/******FONT*****/ 
/*********** TITRE ADMIN**************/
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
/*TITRES h1*/

@import url('https://fonts.cdnfonts.com/css/mommyday');
/*BODY*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/***Diane**/
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
/***** FONT CITATION*******/

@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');
/******************GENERALITES**************/ 


*{
  box-sizing: border-box;
}

body{
  background: #f1f1f1;
  font-family: 'Dancing Script', cursive;
}

.clear {
  clear: both;
}

/********************/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/**********TITRES INTERFACE ADMIN/ USER***********/
.adminStyle,
.userStyle{
  margin-left: 5px;
  margin-right: 10px;
  font-size : 2.5em;
  font-family: 'Mommyday', sans-serif;
  font-style:italic;
  color:#995273;
}

.adminStyle{
  text-decoration: underline black teal;
}

.arabesqueAdmin{
  padding-top: 50px;
  width: 25%;
  display: flex;
  margin: auto;
}

.admin-title{
  font-family: 'Zeyada', cursive;
}

/***************************/
h3{
  text-align:center;
  font-size: 1.2em;
}
/*************TITRES PRINCIPAUX************/

h2{
  font-family: 'Mommyday', sans-serif;
  text-align:center;
  font-size: 3em;
  font-style:italic;
  word-spacing: 0.2em;
  
}

.diane,
.aboutUs{
  font-size: 3em;
  font-family: 'Allura', cursive;
  word-spacing: 0.2em;
}

.aboutUs{
  padding-top: 2em;
  text-decoration: underline;
}

/***************HEADER****************************/ 

header {
	  background-image: url("./image/mystery_1920.jpg");
	  background-size: cover;
	  background-position:center;
	  padding-top: 1em;
    padding-bottom:1em;
}

.logo h1{
    text-align:center;
    color:white;
    font-size:4.5em;
    /*margin-bottom:1.5em;*/
    line-height: 1.5;
    letter-spacing: 0.1em;
}

/*******************NAVBAR***************/

.navbar {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 20px;
  flex: 1;
  text-align: center;
}

.navbar ul li a {
  font-size:1.5em;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  width: max-content;
  font-family: 'Mommyday', sans-serif;
}

.navbar .nav-links ul li a:hover {
  background-color: #fff;
  padding:  20px;
  color: purple;
  border-radius: 1.2em;
  transition: 1s;
}

.menu-burger{
  display: none;
	width: 35px;
  position: absolute; 
  right: 20px; 
  top: 10px; 
  cursor: pointer;
  color: whote;
}
/***************ICONE NAV***********************/

.logout{
  width: 30px;
  position: absolute;
  right : 40px;
  top: 28px;
  cursor: pointer;
}

.panier {
  width:45px;
  position: absolute; 
  right: 130px; 
  top: 20px; 
  cursor: pointer;
}

.utilisateur{
  width: 55px;
  position: absolute; 
  left: 50px; 
  top: 20px; 
  cursor: pointer;
}


/*****************HOME-CITATION*****************/ 

blockquote {
	font-size: 1em;
	text-align: center;
	padding: 2rem 2rem;
}

q, 
cite {
	display: block;
	line-height: 1.5;
}

q {
  font-size: 2rem;
	font-style: italic;
	margin-bottom: 1rem;
	font-family: 'Black And White Picture', sans-serif;
}

cite {
	font-style: normal;
	font-size: 2.5rem;
}

/****************** ARTICLE HOME ************/

.photo-portrait {
	border-radius : 100%;
	width: 30%;
	margin: auto;
	display: block;
}

.article-1 p{
	text-align: center;
	margin: 20px;
	line-height: 1.5em;
	font-size:1.7rem;
}

.article-2 p{
	padding-top: 30px;
	text-align: center;
	margin: 40px;
	line-height: 1.5em;
	font-size:1.7rem;
}

.article-3 p{
  text-align:center;
  font-family: 'Allura', cursive;
  font-weight: bold;
  font-size: 2em;
  color:#995273;
}

.article-4 p{
  text-align:center;
  font-family: 'Allura', cursive;
  font-weight: bold;
  font-size: 2.6em;
}
/*************HOME CAROUSEL *************/

.swiper{
    background-color:transparent;
}
.swiper-wrapper{
    display:flex;
    align-items:center;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  margin:1.5em 0;
}
.swiper-slide img {
  display: block;
  box-shadow: 8px 0px 8px -2px black,
  -8px 0px 8px -2px black;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-button-next:after,.swiper-button-prev:after{
    color:#e5bcbc;
}
.swiper-container {
  width: 70%;
  position: absolute;
  left: 50%;
  bottom: -16vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  padding-bottom: 3vw;
}

/****************DECORATION PAGE****************/

.decoration{
  width:5%;
  margin-left: 30px;
  margin-bottom: 40px;
}

.decorationright{
   width:5%;
   float: right;
   margin-right: 60px;
   margin-top: 40px;
}


/*******************CARD**************/ 

.container{
  max-width: 1400px;
  margin: auto;
  transition: 0.3s;
  animation: ease-in;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Aligner les cards horizontalement */
}

.card-container{
  width: 400px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px;
  padding-bottom: 25px;
  margin-bottom:70px;
  border-radius: 20px;
}

.card-container:hover {
  transform: scale(1.1) ;
  box-shadow: 0px 0px 15px 0px;
}

.image-container img{
  overflow:hidden;
  height: 300px;
  width:400px;
}

.card-content{
  margin: 1rem;
  margin-top: 0.5rem;
  
}

.card-title,
.card-body{
  margin: 0;
  padding: 0;
  text-align:center;
  font-size:1.5em;
}

.card-title{
  margin-bottom: 0.5rem;
  text-align:center;
 
}

.btn-product{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.btn-product button {
  padding: 0.5rem;
  background-color: #a28593;
  transition: 0.2s;
  text-transform: uppercase;
  color:white;
  border:1px solid black;
  border-radius: 10px;
  font-weight:bold;
  cursor:pointer;
}

.btn-product button:hover,
.btn-product-admin button:hover{
  background:purple;
  color: white;
  
}

.btn-product-admin,
.btn-product-users{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.btn-product-admin button{
  padding: 0.5rem;
  background-color: #a28593;
  transition: 0.2s;
  text-transform: uppercase;
  color:white;
  border:1px solid black;
  border-radius: 10px;
  font-weight:bold;
  margin: 5px;
}


.btn-product-users button {
  padding: 0.5rem;
  background-color: #a28593;
  transition: 0.2s;
  text-transform: uppercase;
  color:white;
  border:1px solid black;
  border-radius: 10px;
  font-weight:bold;
  margin: 5px;
}

/**********BUTTON***********/

 button .btn-product-validation{
  
  margin-bottom: 50px;
  border-radius:10px;
}


/***************CART/PANIER********************/

.order-title{
  padding-bottom: 50px;
}

.cart-paiement{
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1px;
}

.cart-bancaire{
  margin: auto;
	display: block;
  width: 15%;
}


/*******FORMULAIRES******/
legend{
  font-size:2.5em;
  font-weight: bold;
}

.form-demo{
  
  margin: auto;
  width:800px;
}

.form-demo input{
  display:block;
  margin-bottom: 20px;
}

.form-input{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.5s ease;
}

.form-input:focus{
  background-color:lightgray;
}

label{
  font-size: 2em;
}

.form-submit{
  cursor:pointer;
  background-color:#a28593;
  padding: 5px;
  border-radius: 5px;
}

/**************SUCCESSCOMMANDE********************/
.successCommande{
  font-family: 'Allura', cursive;
  font-size:3rem;
}


/***************SUCCESSPAIEMENT *************/ 

.cartesBancaires {
  margin: auto;
	display: block;
  width:50%;
}

/**********INFO PROFIL*********/
.info-profil {
  text-align : center;
  font-size: 2em;
}

.profil-admin{
    font-size: 2em;
  }
/*************** DIV SEPARATIONc *********/ 
.tableauDeBord{
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
    width: 150px;
    border-bottom: 5px solid #a38282;
  }

/************ABOUT US TABLEAU***********/
table {
	width: 60%;
	margin: 2rem auto 5rem auto;
	border-collapse: collapse;
	line-height: 1.3;
}

th {
	background-color: #7e4a7c;
	font-weight: bold;
	color: white;
}

th, td {
  font-size: 1.5em;
	border: 1px solid #b878b5;
	text-align: center;
	vertical-align: middle;
	padding: 1.5rem 2rem;
}

td:empty {
	background-color: #ffeefe;
}

td:first-of-type {
	font-weight: bold;
}


/**************FOOTER**************/
footer{
    background-image: url("./image/mystery_1920.jpg");
    background-size: cover;
    background-position:bottom;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
}

.foot{
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius:1em;
    padding:0.5em;
}
.foot p, .foot h3{
    text-align:center;
    margin: 1em;
    font-size: 1.5em;
}

.networks{
    display:flex;
    justify-content:center;
}

.fa-brands{
    font-size:1.5em;
    color:#fff;
    margin: 0 1rem;
}

.legal-notice a{
  padding-top:1rem;
  text-decoration:none;
  color:white;
  display:flex;
    justify-content:center;
    font-size: 1.5em;
}

/***********MENTIONS LEGALES ************/ 

.mentions-legales p{
    text-align:center;
    font-size: 1.7em;
    padding-right: 30px;
    padding-left: 30px;
}


  
  
/********VERSION MOBILE & TABLETTE ************/

@media screen and (max-width: 950px) {
  
  th, td {
    font-size: 0.9em;
	  padding: 0.5rem 0.5rem;
}

  header {
    padding: 1em;
}
  
  /***************HOME***************/
  .diane,
  .aboutUs{
    font-size: 2em;
    font-family: 'Allura', cursive;
    word-spacing: 0.2em;
  }
  
  .papillon{
	width: 15%;
}
  
  .article-1 p,
  .article-2 p,
  .article-3 p,
  .article-4 p{
	font-size:1.2rem;
}

  /***************STYLE*************/
  
  .adminStyle,
  .userStyle{
    font-size : 1.5em;
  }
  /**********ICON NAV************/
  
  .logout{
  width: 20px;
  right : 90px;
  top: 25px;
}
  
  .panier {
    width:30px;
    right:130px;
    top: 20px;
  }
  
  .utilisateur{
    left:10px;
    width: 40px;
    top: 15px; 
}
  
  /***********FORMULAIRE************/
  legend{
    font-size:1.5em;
}

  label{
     font-size: 1.2em;
  }
/************TITRE PRINCIPAL*****************/
	.logo h1{
	  padding-left:20px;
	  text-align:left;
    font-size:2em;
	}

/**********************/
  h2{
    font-size: 1.5em;
  }
  
  h3{
  font-size: 1.5em;
}

/**********NAVBAR*********/	
	.navbar{
		padding:0;
	}
	
	.menu-burger{
		display:block;
	}
	
	.nav-links {
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100vh; 
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -100%;
		transition: all 0.5s ease;
		background-image: url("./image/mystery_1920.jpg");
    background-position:center;
	}
	
	.mobile-menu {
    margin-left: 0
	}
	
	.nav-links ul {
	  padding-bottom: 100px;
	  padding-top: 100px;
		flex-direction: column;
		align-items: center;
	}
	
	.nav-links ul li {
		margin: 25px 0;
		font-size: 1.5em;
	}
	
	.navbar .nav-links ul li a{
    color:#fff;
    font-size:1em;
	}
	/****************button**********/
	.btn-product button {
    padding: 0.5rem;
    font-size: 10px;
  }
  
  .btn-product-admin button,
  .btn-product-users button{
    padding: 5px;
    font-size: 10px;
    margin: 2px;
}

  /********************CITATION********************/
  .citation {
    border: 1px solid purple;
  }
  
  q {
   font-size: 1.5rem;
  }
  
  cite {
    font-size: 1.3rem;
  }

 /***********DECORATION PAGE*************/

 .decoration{
   padding-top:50px;
   margin-left: 15px;
  }

 .decorationright {
    margin-right: 20px;
  }

/****************FOMULAIRE************/
	.form-demo{
	  margin: auto;
    width:300px;
  }

  /*********SUCCESS COMMANDE *******/
  
  .successCommande{
    font-size:1.5rem;
  }
/**************CARD*********/
  .card-container{
    width: 250px;
  }
  
  .card-title,
  .card-body{
    font-size: 1em;
  }
  
  .image-container img{
    height: 200px;
    width:300px;
  }
  
  /**************INFOS PROFIL*******/
  
  .info-profil {
    font-size: 1em;
  }
  
  .profil-admin{
    font-size: 1.2em;
  }
  
  .tableauDeBord{
    margin:auto;
    width: 50px;
    border-bottom: 4px solid #a38282;
  }
  
  /********** CART *************/
  .cart-paiement{
  font-size: 1em;
  margin-bottom: 1px;
  }

.cart-bancaire{
  width: 20%;
  }
  
  /**************MENTIONS LEGALES*********/ 
  .mentions-legales p{
    text-align:center;
    font-size: 1em;
  }
  
  /*********** FOOTER************/ 
  .legal-notice a{
    font-size: 1em;
  }
  
  .foot p, .foot h3{
    font-size: 1em;
  }


}

